{% extends "layout.html" %}
{% block content %}
	{% for data in data.items %}
		<h1>Product Name - {{ data.product_name }}</h1>
		<p>Transaction ID -  {{ data.transaction_id }} on {{ data.transaction_time }}</p>
		<p>Delivered to - {{ data.delivered_to_city }}</p>
	{% endfor %}
	{% for page_num in data.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
		{% if page_num %}
			{% if data.page == page_num %}
				<a class = "btn btn-info mb-4" href="{{ url_for('home',page=page_num) }}"> {{ page_num }}</a>
			{% else%}
				<a class = "btn btn-outline-info mb-4" href="{{ url_for('home',page=page_num) }}"> {{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor%}
{% endblock content%}